<header class="clearfix">
  <div class="top-logo">
    <h1><a href="#"><img src="../assets/big-dummy.png" alt="logo"></a></h1>
  </div>
  <div class="nav">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/feedback" routerLinkActive="active">Feedback</a>
    </ul>
  </div>
</header>
<router-outlet></router-outlet>